<template name= "quizzQA">
	<div class="container">
        <div class="row">
        <div class="col-lg-12">
        <h1>Select quizz</h1>
        	<h1>{{name}}</h1>
        </div>
        	<div class="col-lg-12">
        		<section class="bg_home">
					<div class="container">
						<div class="quick_view">
						<!-- Trigger the modal with a button -->
						  <button type="button" class="btn btn-default center-block" data-toggle="modal" data-target="#quizz" id="quizzpop">Quizz</button>
						  <!-- Modal -->
						  <div class="modal" id="quizz" role="dialog">
							<div class="modal-dialog modal-lg">
							
							  <!-- Modal content-->
							  <div class="modal-content">
								<div class="modal-header">
								  <button type="button" class="close" data-dismiss="modal"><img src="images/pop_cancel.png"></button>
								</div>
								<div class="clearfix"></div>
								<div class="modal-body">
									<div class="row">
									{{#with getFirstQu question}}
										<div class="col-md-8">
										<h5 class="pop_title">{{question}}</h5>
										{{#each answers}}
											<label class="checkbox"><input name="checkbox" checked="" value="{{value}}" type="radio" id="face"><i></i>{{value}}</label>
										{{/each}}
										</div>
									{{/with}}
									</div>
								</div>
								<div class="modal-footer">
									<div class="model-footer-button">
										<button type="button" class="btn btn-default" id="backqu"  data-dismiss="close">BACK</button>	
										<button type="button" class="btn btn-default center-block" data-toggle="modal" data-target="#next" id="goNext">NEXT</button>
									</div>
								</div>
							  </div>					  
							</div>
						  </div><!--/ end model -->
						  
						  <!-- Modal -->
						 
						</div>
					</div>
				</section>
				
        	</div>
        </div>
    </div>
</template>