<template name="tutodetails">
	<!-- Start contain -->
	<section class="shadow_bottom" >
		{{#with getTutodetails _id}}
		<div class="container" id="space_cont_top"  >		
			<div class="clearfix"></div>
			<div class="space_cont_top">
				<div class="col-md-12">
				</div>
				<div class="col-md-7">
					<h1 class="txt-color" >{{title}}</h1><br>
					<!-- <p>{{url}}</p> -->
					<video width="490" height="370" id="mainVideo" controls>
						<source src="/videos/{{url}}" type="video/mp4">
							
						</video>
						<div class="share-control" style="padding-top:10px; padding-bottom:50px">
							<div class="col-md-4"> 
							</div>
							<div class="col-md-12 row share-control">
								<p class="p-font-sm">{{{content}}}</p>
							</div>
						</div> 	
					</div>
					<div class="col-md-5" style="padding-top:40px;">
						{{#each getRelated}}
						<div class="row space-row-tuto div_hover">
							<div class="col-md-5">
								<a href="/tutodetails/{{_id}}" title="{{title}}">
									{{#with getImgTuTO _id}}
									<img src="{{getImg this}}" class="img-thumbnail" style="margin-bottom:15px; width:150px; height:113px" alt="{{title}}">
									{{/with}}
								</a>	 
							</div>
							<div class="col-md-7">
								<h4 class="h4-bold-tuto bold" style="padding-top:15px;"><a href="/tutodetails/{{_id}}">{{title}}</a></h4>
								<p class="p-font-sm">
									{{{smaller content 10}}}
								</p>
							</div>
						</div>
						{{/each}}
					</div>
					<!-- <div class="col-md-12">
						<div class="hold_btn_filter_view">
							<div class="pull-right">
								<a href="" id="closeFilter" style="display:none;">Close</a>
								<button class="btn btn-filter-view" type="button" id="input">
									<i class="fa fa-search"></i> {{_ "FILTER REVIEWS"}}</button>  
							</div>
						</div>
					</div> -->
						<div class="col-md-12">
							{{#if currentUser}}
							{{>addreview}}
							{{/if}}
							{{#each getReviews review filterReview removeFilter}}
							{{>review}}
							{{else}}
							<i>هیچ بررسی</i>
							{{/each}}
							<div class="pull-right">
								<h3 id="show1" class="morereview" >{{_ "MORE REVIEWS"}} &nbsp; <i class="fa fa-angle-down morereview" id="btnMore"></i></h3>   
							</div>
						</div>
					<!-- <div class="wrapper_forum">
						<div class="filter_set">
						</div>
					</div> -->

				</div>
			</div>
			{{/with}}
		</section>
		<br>
		<!-- end contain -->
	</template>