<template name="profile">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					<h3 class="my1h3 backre"><a href="/profile">{{_ "MY SAFIR PROFILE"}}</a></h3>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					<h3 class="my1h3"><a href="/member">{{_ "MEMBER PROFILE"}}</a></h3>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					<h3 class="my1h3"><a href="/reward">{{_ "REWARDS & POINTS"}}</a></h3>
				</div>
			</div>
			<br>
			<br>
			<br>
			<div class="container-box">
				<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 con-me">
					<div class="container-box">
						<div class="col-xs-12 col-sm-6 col-lg-3">
							{{#with getprofile}}

								<img style="border:8px solid #000" src="{{getImg image}}" class="img-circle center-block" alt="Avatar" width="200" height="200"> 

							{{/with}}
						</div>
						<div class="col-xs-12 col-sm-6 col-lg-9">
							<h1 style="font-weight:bold" dir="{{getDirection}}">{{#with getprofile}}{{profile.firstname}} {{profile.lastname}}{{/with}}</h1>
							<hr style="border:1px solid #000;">
							<div class="table-responsive">
						<table class="table" >
									<tbody>
										{{#with getprofile}}
										{{profile.image}}
										<tr>
											<td>{{_ "NAME"}}</td>
											<td style="font-weight:bold">{{profile.firstname}} {{profile.lastname}}</td>
										</tr>

										<tr>
											<td>{{_ "BIRTH DATE"}}</td>
											<td style="font-weight:bold">{{profile.birth}}</td>
										</tr>
										<tr>
											{{#each emails}}
											<td>{{_ "EMAIL"}}</td>
											<td style="font-weight:bold">{{address}}</td>
											{{/each}}
										</tr>
										<tr>
											<td>{{_ "SEX"}}</td>
											<td style="font-weight:bold">{{profile.sex}}</td>
										</tr>
										<tr>
											<td>{{_ "ADDRESS"}}</td>
											<td style="font-weight:bold">{{profile.address}}</td>
										</tr>
										{{/with}}
									</tbody>
								</table>
							</div>
						</div>
						<div class="clearfix"></div>

						<div class="col-md-12 ">
							<a href="/editprofile"><button id="singlebutton" name="singlebutton" class="row btn-mod btn-default pull-right">
								{{_ "EDIT"}}
							</button></a>
						</div>
						<br /><br /><br />
						<br />
						<div class="clearfix"></div>
					</div>
					<div class="clearfix"></div>

					<div class="row" dir="{{getDirection}}">
						{{#each getquestion}}
						<div class="col-xs-12 col-sm-4 col-lg-4">
							<input type="hidden" name="question" placeholder="writing answer..." value="{{_id}}">
							<p style="font-size:12px;" class="text-right" >{{name}}</p>
							<div class="form-group">
								
								<input class="form-control" id="answer[]" placeholder='{{_ "writing answer..."}}' name="answer" value="{{getAnswer _id}}">
							</div>
						</div>
						{{/each}}
					</div>
					<div class="col-8 pull-right">
						<button type="button" class="btn btn-primary" id="btn-answer" style="font-size:14px; margin-bottom: 10px;">{{_ "Answer"}}</button>
					</div>

					<br>
				</div>
			</div>
		</div>
	</div>
</template>
