h1.h1{
    font-weight: 700;
    margin: 1em 0px;
}
/* background svg */
.bg_home{
	background:url("../images/bg_home.svg") no-repeat;
	height:1300px;
}
.img-circle-border{
	border:8px solid #000;
}
