/*kimhieng on 27/11/2015*/
#navbar .megamenu > li > a.megamenu_drop9{
	background:#000;
	color: #fff;
	border-style: solid;
	border-width: 7px 12px 7px 12px;
	/*font-family:helvetica;*/
	padding: 11px;
	font-weight: bold;
	margin-top:-5px;
}
#navbar .megamenu > li > a.megamenu_drop9:hover{
	background-color:#de271b;
	color: #ffffff;
	box-shadow:0px 0px 3px #888888;
}
.col1_commu ul li a{
  width: 20%;
  margin: 0px 8px;
  background: #333;
  border: 1px solid #ddd;
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  padding: 0px 37px 0px;
}
 .col1_commu{
	margin-bottom: -15px;
 }
 .wrap-big-popup{
 	padding:0px 20px 0px 20px;
 }
 h4.title_welcome{
 	font-size: 18px;
 }
 .wrap-product-pop p.title_product{
 	color:#000;
 	font-size: 14px;
 	text-align: center;
 }
 
 p.price-pop{
 	font-size: 16px;
 	font-weight: bold;
 	text-align: center;
 	margin-bottom: 10px;
 }
 h4.space-bootom-popup{
 	font-size: 18px;
 	padding: 30px 0px;
 }
h4.title-pro{
	font-size: 18px;
	margin-bottom: 30px;
}
small.des_pro p{
	font-size: 14px;
	margin-bottom: 30px;
}