/*kimhieng*/
/*Submenu of Community*/
.skyblue li a.color11:hover{
	box-shadow:0px 0px 3px #888888;
	border:5px solid;
	background:#de271b;
	color:#fff;
	/*font-family:DINCondensed Bold;*/
	padding-top:3px;
}

.skyblue li a.color11{
	color: #fff;
	background:#000;
	border:5px solid #fff;
	/*font-family:DINCondensed Bold;*/
	padding-top:3px;
}
.img_submenu{
	padding-left: 100px;
}	
.border_menu{
	border-left:2px solid #20abe2;
	padding:0px 20px;
}

.col1_commu{
	width:27%;/*change width:20% to width:27%*/
	margin: 0px 15px;
	text-align:center;
	text-decoration:none;
	color:#fff;
	font-size:24px;
}
.commu_sub{
	padding:10px 0px;
}
.col1_commu ul li a {
	color:#fff;
	text-decoration:none;
	padding: 0px 85px 0px 85px;/*add this line to change padding when hover*/
	margin-left: -17px;/*add this line to change padding when hover*/
}
.commu_sub .col1_commu ul:hover{
	background-color: #de271b;
	color: #fff;
}
/*Button All near search box*/
.btn_all {
	display: inline-block;
	padding: 7px 12px;
	margin-bottom: 0px;
	margin-top:0em;
	font-size: 1em;
	font-weight: bold;
	line-height: 1.42857;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	-moz-user-select: none;
	background-image: none;
	border:0px;
	box-shadow:6px 1px 3px #ccc;
	background:#ffffff;
	/*font-family: Arial, Helvetica, sans-serif;*/
	color:#000000;
}
li.sub_all{
	display: inline;
	padding: 10px 5px 10px 5px;
}
ul.list-inlines{
	list-style-type: none;
	margin-top: 0px;
	padding: 7px 0px;
	margin-left: 4px;
	box-shadow: 1px 1px 3px #CCC;
}
ul.list-inlines li a:hover {
	color:#20abe2;
	text-decoration:none;
}
.sub_all a{
	color:#808080;
}
.borderleft{
	border-left:2px solid #ccc;
}
.borderleft{
	border-left:1px solid #333;
	padding:0px 10px;
}
/*Search*/
.header-logo{
	height: 150px;
	padding-top: 20px;
	margin-top: 0px;
}
.header-logo .logo {
  margin-top:-2px;
  float:left;
}

.header-logo .search {
  float:right;
  width:44%;
  position:relative;
  margin-top: 15px;
}

	.header-logo .search input[type="text"] {
	  background:#06080b;
	  border:1px solid #06080b;
	  border-radius:20px;
	  color:#fff;
	  font-size:17px;
	  height:40px;
	  outline:0;
	  padding:0 15px 0 15px;
	  transition:background-color .15s;
	  width:100%
	}

	.header-logo .search .search-submit {
	  cursor:pointer;
	  height:40px;
	  position:absolute;
	  right:0;
	  top:-2px;
	  width:50px;
	  background:none;
	  border:0;
	  font-size:20px;
	  color:#333;
	  opacity:.5
	}

	.header-logo .search .search-submit:hover {
	  color:#55acee;
	  opacity:1
	}
	.search-btn{background:#06080b;border:1px solid #06080b;color:#fff;cursor:pointer;}
	.search-font{font-size:14px;}
	.all-btn{
		cursor: pointer;
		background: #000;
		border-right: 1px solid #fff;
		color: #fff;
		border-left: 1px solid #000;
		border-top: 1px solid #000;
		border-bottom: 1px solid #000;
	}
	.search-push-left{
		border:0px solid #fff;
	}
	.search ul.list-inline{
		color:#333;
		margin-right: 5px;
		margin-bottom: 0px;
	}
	.search ul.list-inline li{
		color:#333;
		margin-right: 5px;
		padding-right: 5px;
		padding-left: 10px;
	}
	.search ul.list-inline li a{
		color:#333;
		font-weight: normal;
	}
	.search ul.list-inline li a:hover{
		color:#333;
		font-weight: normal;
		text-decoration: none;
	}
	.search ul.list-inline li:last-child {
		color:#333;
		border-left:1px solid #333;
	}
@media screen and (min-width: 1200px){
	.container{
		width: 980px;
	}
}
#menu_all{
	display: none;
}