<template name="memberReview">
<div id="wrapper">
            <div class="container-fluid">
                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
			<h1 class="page-header" style="text-transform: capitalize;font-size: 26px;">
				Customer Reviews
			</h1>
			<div class="cont">
			  <div class="stars">
			    <form action="">
			      <input class="star star-5" id="star-5-2" type="radio" name="star"/>
			      <label class="star star-5" for="star-5-2"></label>
			      <input class="star star-4" id="star-4-2" type="radio" name="star"/>
			      <label class="star star-4" for="star-4-2"></label>
			      <input class="star star-3" id="star-3-2" type="radio" name="star"/>
			      <label class="star star-3" for="star-3-2"></label>
			      <input class="star star-2" id="star-2-2" type="radio" name="star"/>
			      <label class="star star-2" for="star-2-2"></label>
			      <input class="star star-1" id="star-1-2" type="radio" name="star"/>
			      <label class="star star-1" for="star-1-2"></label>
			    </form>
			  </div>
			  <p class="help-block"><a href="#">4.0 out of 5 stars</a></p><span class="glyphicon-class"></span>
			</div>
			<!-- http://www.jquery2dotnet.com/ -->
				<div class="container">
				    <div class="row">
				        <div class="col-xs-12 col-md-6">
				            <div class="well well-sm">
				                <div class="row">
				                    <div class="col-xs-12 col-md-6 text-center">
				                        <div style="margin: 0px 9px -23px -265px !important;">
				                            5 star
				                        </div>
				                    </div>
				                    <div class="col-lg-12 col-md-6">
				                        <div class="row rating-desc">
				                            <div class="col-xs-8 col-md-9">
				                                <div class="progress progress-warning">
				                                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="20"
				                                        aria-valuemin="0" aria-valuemax="100" style="width: 80%">
				                                    </div>
				                                </div><br>
				                            </div>
				                            <div class="col-xs-3 col-md-3 text-right">
				                                <span></span>51%
				                            </div>
				                            <!-- end 5 -->
				                        <div class="col-xs-12 col-md-6 text-center">
					                        <div style="margin: 0px 9px -23px -265px !important;">
					                            4 star
					                        </div>
					                    </div>
				                            <div class="col-xs-8 col-md-9">
				                                <div class="progress">
				                                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="20"
				                                        aria-valuemin="0" aria-valuemax="100" style="width: 60%">
				                                    </div>
				                                </div><br>
				                            </div>
				                            <!-- end 4 -->
				                            <div class="col-xs-3 col-md-3 text-right">
				                                <span></span>21%
				                            </div>
				                    <div class="col-xs-12 col-md-6 text-center">
				                        <div style="margin: 0px 9px -23px -265px !important;">
				                            3 star
				                        </div>
				                    </div>
				                            <div class="col-xs-8 col-md-9">
				                                <div class="progress">
				                                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="20"
				                                        aria-valuemin="0" aria-valuemax="100" style="width: 40%">
				                                    </div>
				                                </div><br>
				                            </div>
				                            <!-- end 3 -->
				                            <div class="col-xs-3 col-md-3 text-right">
				                                <span></span>11%
				                            </div>
				                        <div class="col-xs-12 col-md-6 text-center">
				                        <div style="margin: 0px 9px -23px -265px !important;">
				                            2 star
				                        </div>
				                    </div>
				                            <div class="col-xs-8 col-md-9">
				                                <div class="progress">
				                                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="20"
				                                        aria-valuemin="0" aria-valuemax="100" style="width: 20%">
				                                    </div>
				                                </div><br>
				                            </div>
				                            <!-- end 2 -->
				                            <div class="col-xs-3 col-md-3 text-right">
				                                <span></span>6%
				                            </div>
				                   		<div class="col-xs-12 col-md-6 text-center">
				                        <div style="margin: 0px 9px -23px -265px !important;">
				                            1 star
				                        </div>
				                    </div>
				                            <div class="col-xs-8 col-md-9">
				                                <div class="progress">
				                                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="80"
				                                        aria-valuemin="0" aria-valuemax="100" style="width: 20%">
				                                    </div>
				                                </div>
				                            </div>
				                            <div class="col-xs-3 col-md-3 text-right">
				                                <span></span>6%
				                            </div>
				                            <!-- end 1 -->
				                        </div>
				                        <!-- end row -->
				                    </div>
				                    <div class="col-md-12" style="margin: -224px 0px 0px 462px !important;">
				                    	<p>Share your thoughts with other customers </p>
				                    </div>
				                    <div class="col-md-6" style="margin: -190px 0px 0px 462px !important;">
				                    	<button class="btn btn-default" style="background: rgba(204, 204, 204, 0.48) none repeat scroll 0% 0%;font-size:16px;">
				                    		Write a customer review
				                    	</button>
				                    </div>
				                </div>
				            </div>
				        </div>
				    </div>
				</div>
		{{#each getReview}}
		<div class="col-lg-12">
			<p class="help-block"><a href="#">4.0 out of 5 stars</a></p><span class="glyphicon-class"></span>
			<h1 class="page-header" style="text-transform: capitalize;font-size: 26px;">{{title}}</h1>
			  <div class="stars col-md-6" style="margin-left: -274px;">
			    <form action="">
			      <input class="star star-5" id="star-5" type="radio" name="star"/>
			      <label class="star star-5" for="star-5"></label>
			      <input class="star star-4" id="star-4" type="radio" name="star"/>
			      <label class="star star-4" for="star-4"></label>
			      <input class="star star-3" id="star-3" type="radio" name="star"/>
			      <label class="star star-3" for="star-3"></label>
			      <input class="star star-2" id="star-2" type="radio" name="star"/>
			      <label class="star star-2" for="star-2"></label>
			      <input class="star star-1" id="star-1" type="radio" name="star"/>
			      <label class="star star-1" for="star-1"></label>
			    </form>
			  </div>
			  {{#each review}}
			  <div class="col-md-6">
			  	<!-- Awesomeness -->
			  </div><br><br>
			  <p class="help-block">
			  	By cathy zweig on {{getTime date}}
			  </p>
			  <h5 class="help-block">
			  	{{title}}
			  </h5>
			  <p>{{comment}}</p><br><br>
			  {{/each}}
			</div>
			{{/each}}
		   </div>
		</div>
		
	    </div>
	</div>

	<!-- <div class="container">
		<div class="container hold-checkout">
        <div class="row">
        	<div class="col-lg-12">
					<div class="well">
					{{#each getReview}}
						<div class="row">
						<div class="col-sm-2">
							<img src="t6.jpg" class="img-responsive img-circle img-circle-border-cart">
						</div>
						
						<div class="col-sm-8">
							<a href="/details/{{_id}}"><h3 class="title-cart">{{title}}</h3></a>
							{{#each review}}
							<div class="col-sm-6">
								<div class="hold-add-cart">
									<div class="row">
										<span class="pull-left">{{getTime date}}</span>
										<span class="pull-right">{{title}}</span>
									</div>
								</div><br/>
								<div class="hold-add-cart">
									<div class="row">
										<span class="pull-left">{{comment}}</span>
									</div>
								</div>
							</div>
							{{/each}}
						</div>
						
						</div>
						{{/each}}
					</div>
				</div>
		</div>
	</div>
	</div> -->
</template>