<template name="footer">
<footer id="footer" class="footer" name="footer" style="bottom:0px;width:100%;" lang="{{getCurrentLanguage}}">
	<div class="container" >
			<div class="row">
				<div class="col-xs-6 col-md-6 col-lg-6 text-left" > 
		
				<ul class="sociallist list-inline">

					<li><a href="http://www.instagram.com/safirstores" class="fb" target="_blank" title="Facebook">
						<img src="/img/socail_media-01.svg" alt="Facebook page" height="30" width="30" title="Facebook"></a>
					</li>

					<li><a href="https://www.facebook.com/safirperfumery" class="instagram" target="_blank" title="Instagram">
						<img src="/img/socail_media-02.svg" alt="Instagram " height="30" width="30" title="Instagram "></a>
					</li>

					<li><a href="https://plus.google.com/u/0/b/109953347025842075900/+Safirperfumeryofficial/posts" class="pinterest" target="_blank" title="pinterest">
						<img src="/img/socail_media-03.svg" alt="pinterest" height="30" width="30" title="pinterest"></a>
					</li>

					<li><a href="http://www.pinterest.com/safirperfume/" class="twitter" target="_blank" title="twitter">
						<img src="/img/socail_media-04.svg" alt="twitter page" height="30" width="30" title="twitter"></a>
					</li>

					<li><a href="https://twitter.com/safirperfumery" class="google" target="_blank" title="google+">
						<img src="/img/socail_media-05.svg" alt="google+ page" height="30" width="30" title="google+"></a>
					</li>

					<li><a href="https://www.youtube.com/channel/UCrlgMSqOZf_EvsHts6GnpPQ" class="youtube" target="_blank" title="youtube">
						<img src="/img/socail_media-06.svg" alt="youtube channel" height="30" width="30" title="youtube"></a>
					</li>
				</ul>


	<!-- 	<div id="div_nemad" style="cursor:pointer" onclick="">
	        <img id="imgLogo" title="برای مشاهده مجوز كلیك كنید" src="../img/namad1.png" style="border-width:0px;">
	    </div> -->
				<div class="enamad pull-left">
					<img src="../img/namad1.png" style="width: 150px; height: 150px; margin-top:15px;"  >
				</div>
			</div>
			<div class="col-xs-6 col-md-6 col-lg-6 pull-right">
					<img src="/img/logo_footer-01.svg" width="160" height="180" />
					<p>
						کلیه حقوق مادی و معنوی متعلق به فروشگاه عطر سفیر می باشد و هرگونه سوء استفاده، موجب پیگرد قانونی است.
					</p>
			</div>
	</div>
			
</div>
	</footer>


</template>
