<template name ="webzinelisting"> 
	<section class="wrapper-first-con" style="padding-bottom: 50px;">
		<div class="container">
			<div class="col-md-12">
				<!-- lightSlider -->
				<div class="row">
					<section class="install">                
						<div class="swiper-container swiper-container-horizontal make-it-fit">
							<div class="swiper-wrapper">
								{{#each getbannerwebzine}}
								<div  class="swiper-slide swiper-slide-prev">
									<a href="{{url}}">
										<img src="{{getImg imageId}}" class="img-responsive" alt="" width="900"  height="330">
									</a>			
								</div>
								{{/each}}
								
							</div>
							<div class="swiper-pagination"></div>
							<!-- /slide swiper -->
						</div> 
						<script>
							/* slide swiper */
							var swiper = new Swiper('.swiper-container', {
								//pagination: '.swiper-pagination',
								//paginationClickable: true,
								spaceBetween: 30,
								centeredSlides: true,
								autoplay: 5000,
								autoplayDisableOnInteraction: false
							});

						</script>              
					</section>
				</div>
				<!-- end lightSlider -->
				<!--start list webzin-->
				{{#each webzinelists}}
				{{#if odd number}}
				<div class="row space-top" style="box-shadow: 0px 1px 1px 0px #888888;">
					<div class="col-md-6">
						<a href="{{pathFor 'webzinedetails' id=_id}}">
							{{#with getFirstImgContent _id}}
							<img src="{{getImg this}}" class="center-block img-responsive img-wh" alt={{title}}>
							{{/with}}
						</a>
					</div>
					<div class="col-md-6">
						<div class="wrapper-text-pro">
							<span class="pro-top-color"><a href="/category/{{category}}" style="color:red;font-weight:strong;font-size:18px;">{{getCatergoryName category}}</a></span>
							<h3><a href="{{pathFor 'webzinedetails' id=_id}}">{{title}}</a></h3>
							<p class="text-second-color">{{{smaller content 20}}}</p>
							
						</div>
					</div>
				</div>
				

				{{else}}
				<div class="row space-top" style="box-shadow: 0px 1px 1px 0px #888888;">
					<div class="col-md-6">
						<div class="wrapper-text-pro">
							<span class="pro-top-color"><a href="/category/{{category}}" style="font-weight:strong;color:red;font-size:18px;">{{getCatergoryName category}}</a></span>
							<h3><a href="{{pathFor 'webzinedetails' id=_id}}">{{title}}</a></h3>
							<p class="text-second-color">{{{smaller content 20}}}</p>
							
						</div>
					</div>
					<div class="col-md-6">
						<a href="{{pathFor 'webzinedetails' id=_id}}">
							{{#with getFirstImgContent _id}}
							<img src="{{getImg this}}" class="center-block img-responsive img-wh" alt={{title}}>
							{{/with}}
						</a>
					</div>
				</div>
				
				{{/if}}
				{{/each}}
				<!--end list webzin-->



			</div> 
		</div>    
	</section>
</template>