<template name="details">
	<!-- start makara -->
	<style>
		.zoom {
			display:inline-block;
			position: relative;
		}
		
		/* magnifying glass icon */
		.zoom img {
			display: block;
		}

		.zoom img::selection { background-color: transparent; }

		#ex2 img:hover { cursor: url(grab.cur), default; }
		#ex2 img:active { cursor: url(grabbed.cur), default; }
	</style>
	

	<!-- End makara -->
	{{> myrefine}}
	<section class="shadow_bottom" id="produst_listing" dir="{{getDirection}}">

		<div class="container" >
			<div class="row">
				<div class="col-md-3">
					<div class="col-md-12">
					<span class='zoom' id='ex1'>
					<img id="hoverZoom" width="210" height="210" class="img_principle" src="{{getImgForProduct _id}}" alt="{{title}}"/>		
					</span>	
					</div>			
					<div class="col-md-12" style="padding-top:50px;">
						<div class="swiper-container">
							<div class="swiper-wrapper">
								{{#each getListImg _id}}
								<div class="swiper-slide">
									<a href=""><img  src="{{getImg this}}" width="50" height="50" class="miniature" alt="type"/></a>
								</div>
								{{/each}}

							</div>
							<div class="swiper-button-next"></div>
							<div class="swiper-button-prev"></div>
						</div>
					</div>
					
				 
					<script>
					/* slide swiper */
					var swiper = new Swiper('.swiper-container', {
						pagination: '.swiper-pagination',
						nextButton: '.swiper-button-next',
						prevButton: '.swiper-button-prev',
						paginationClickable: true,
						spaceBetween: 30,
						centeredSlides: true,
						autoplay: 5000,
						autoplayDisableOnInteraction: false
					});
					</script>
				</div>

				<div class="col-md-6">
					<div class="hold_description">
						<h3 class="bold">{{title}}</h3>
						<p class="detail-txt" >{{{description}}}</p><br>
						<!-- <p>{{_ "Category"}} : {{getCategoryName category}}<br> -->
						<!-- {{_ "Brands"}} :<span>{{Brand}}</span></p> -->
						<p>{{_ "Category"}} : <a href="/category/{{category}}">{{getCategoryName category}}</a><br>
							{{_ "Brands"}} :  <a href="/category/{{category}}" id="brand"><span>{{Brand}}</span></a></p>
							<p><i id="current_attr"> </i></p>
							<p>{{#each getParentAttr oldId}}
								{{#with getParentDetails parent}}
								{{name}} :

								<div id="gallerycontainer">
									<div id="gallery">
										{{#each getAllAttributes ../product _id}}
										<p style="margin:10px;"><a href=""><img src="{{getImg productImage}}" id="img_attr"
											class="img-responsive pull-left" width="50px" height="50px" alt="{{title}}"></a></p>
											{{else}}
											<p><i>{{_ "None"}}</i></p>

											{{/each}}
										</div>
									</div>

									{{/with}}
									{{/each}}
								</p>
								<br /><br />
								<p dir="{{getDirection}}">

									<!-- {{#with slic tags}}
									<div class="col-lg-6 col-md-6">
										{{#each parents}}
										<li>
											{{this}}: 
										</li>
										{{/each}}
									</div>
									<div class="col-lg-6 col-md-6">
										{{#each values}}
										
										<i>{{this}}</i><br>
										
										{{/each}}
									</div>
									
									{{/with}} -->

									<!-- {{#each tags}}
									<li style="list-style:none">
									{{getParentTagName parent}}: <i>{{value}}</i>;</li>

									{{/each}} -->
								</p>

								<!-- <a class="glyphicon glyphicon-text-background center-block" href="/translateproduct/{{_id}}">Translate</a> -->
                                <ul>
                                    {{{getTagList _id}}}
                                </ul>
							</div>
						</div>
						
						<div class="col-md-3">
							
							<div class="btns" style="margin-bottom: 24px;"></div>
							<h5>{{_ "Send a translation of the description to earn points"}}</h5>		
							<section class="box">

								<textarea id="status" name="styled-textarea" onfocus="this.value=''; setbg('#ccc');" onblur="setbg('white')">{{_"Enter your translation here..."}}</textarea>
								<span id="text_counter"></span><br>
								<input class="btn btn-large btn-primary" type="submit" id="posting" value="{{_"Post"}}" style="margin-left: 154px; border-radius: 0px; background: #ccc; border: 0px; padding-top: 3px; margin-top: 5px;" />
							</section>

							<div class="hold_cart">
								<div class="col-md-12">
									<h1 class="bold_big " style="margin-bottom: 5px;">{{selected_price}} تومان</h1><br />
									<!--<h3 class="bold_big pull-right"><i>{{selected_point}} points</i></h3>-->
								</div>
								<div class="col-md-12">
									<div class="pull-right">
										<label class="control-label pull-left" id="lbl_add_cart">{{_ "Quantity"}} <span id="available_qty"></span></label>
										<div class="form-group pull-left" >
											<select id="qty" style="-webkit-appearance:menulist;">
												<option>1</option>
												<option>2</option>
												<option>3</option>
												<option>4</option>
												<option>5</option>
											</select>
										</div>
									</div>
								</div>
								
								<div class="col-md-12">
									<div class="btn_add_cart col-xs-8 pull-right" id="addtocart">{{_ "ADD TO CART"}}</div>
								</div>
								<div class="addtocart_msg" style="margin-top:10px;color:red"></div>
							</div>
							<div class="social_share">
								<div class="text-center">
									<a class="fa fa-facebook social-icon" href="https://www.facebook.com/safirperfumery" target="_blank"></a>
									<a class="fa fa-instagram social-icon" href="http://www.instagram.com/safirstores" target="_blank"></a>
									<a style="padding-left:2px;" class="fa fa-twitter social-icon" href="https://twitter.com/safirperfumery" target="_blank"></a>
									<a class="fa fa-google-plus social-icon" href="https://plus.google.com/u/0/b/109953347025842075900/+Safirperfumeryofficial/posts" target="_blank"></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section  id="produst_listing" dir="{{getDirection}}">
				<div class="container">
					<div class="row">
						{{#if existReview review}}
						<h1 class="content-text-review">{{_ "REVIEWS & FEEDBACKS"}}</h1>
						<div class="clearfix"></div>
						<div class="col-md-12">
							<div class="hold_btn_filter_view">
								<div class="pull-right">
									<a href="" id="closeFilter" style="display:none;">Close</a>
									<button class="btn btn-filter-view" type="button" id="input">
										<i class="fa fa-search"></i> {{_ "FILTER REVIEWS"}}</button>  
								</div>
							</div>
						</div>
						{{/if}}
					</div>
				</div>
					<div class="col-md-12" style="padding-left:120px;padding-right:130px;">
						{{#if currentUser}}
						{{>addreview}}
						{{/if}}
						{{#each getReviews review filterReview removeFilter}}
						{{>review}}
						{{else}}
						<!-- <i>{{_ "No reviews"}}</i> -->
						{{/each}}
						{{#if existReview review}}
						<div class="pull-right">
							<h3 id="show1" class="morereview" >{{_ "MORE REVIEWS"}} &nbsp; <i class="fa fa-angle-down morereview" id="btnMore"></i></h3>   
						</div>
						<div class="wrapper_forum">
							<div class="filter_set">

							</div>
						</div>
						{{/if}}
					</div>
				</section>


				<section id="produst_listing" class="article" dir="{{getDirection}}">
					<div class="container">
						<div class="row" id="article">
							<div class="hold_product_detail">
								<div class="col-md-12 well" >
									<div class="col-md-12">
										<h1>{{_ "ARTICLE ABOUT"}}</h1>
									</div>

									{{#each articles}}
									{{#with getArticle this}}
									{{>article}}
									{{/with}}
									{{else}}
									<i>{{_ "No articles about"}} {{title}}</i>
									{{/each}}

								</div>

								<div class="col-md-12 well" >
									<div class="col-md-12">
										<h1>{{_ "Tutorial about"}}</h1>
									</div>

									{{#each tutoes}}
									{{#with getTutoes this}}
									{{>tutoes}}
									{{/with}}
									{{else}}
									<i>{{_ "No tutorial about"}}{{title}}</i> 
									{{/each}}

								</div>
							</div>
 						</div>

					</div>
				</section>

				<section id="forum_question" dir="{{getDirection}}">
					<div class="container">
						<div class="hold_product_detail">
							<div class="col-md-12">
								<h1>{{_ "RELATED PRODUCTS"}}</h1>
							</div>
							<div class="row"></div> 

							{{>recommendation}}

						</div>
					</div>
					<br /> <br /> <br />
				</section>
				<script>
					$(document).ready(function(){
						$('#ex1').zoom('{{getFirstImgProduct _id}}');
						$('#ex2').zoom({ on:'grab' });
						$('#ex3').zoom({ on:'click' });			 
						$('#ex4').zoom({ on:'toggle' });

					});
				</script>
				<script>
				// $('.octofilter-link').click(function() {
				// 	alert( "HOPP" );
				// 	console.log("TRIGGER");
				// });
				var galleryTop = new Swiper('.gallery-top', {
					nextButton: '.swiper-button-next',
					prevButton: '.swiper-button-prev',
					spaceBetween: 10,
				});
				var galleryThumbs = new Swiper('.gallery-thumbs', {
					spaceBetween: 10,
					centeredSlides: true,
					slidesPerView: 'auto',
					touchRatio: 0.2,
					slideToClickedSlide: true
				});
				galleryTop.params.control = galleryThumbs;
				galleryThumbs.params.control = galleryTop;

				function setbg(color)
				{
					document.getElementById("status").style.background=color
				}
				</script>
				
			</template>